{%extends "index.html.twig"%}

{% block  header %}{%endblock%} 

{% block body %}
    <section id="conteneurFormation" class="container-fluid">
            <header class="page-header">
                <h1>Formation</h1>
            </header>

            <ul class="timeline">
                <li><div class="tldate">2012</div></li>

                <li>
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Bac Pros Dessinateur Industriel</h4>

                        </div>
                        <div class="tl-body">
                            <p>J'ai un bac pro de dessinateur industriel ayant nécessité plusieurs stages, d'une durée d'un an, au sein du bureau d’études de la SNCF à Nîmes, puis à Montpellier. Ces stages m'ont appris à prendre en compte, dans un projet différentes problématiques telles que le budget, le respect des délais et normes de sécurité . Et bien sur j'ai appris à utiliser l'ordinateur comme outil de travail .</p>
                        </div>
                    </div>
                </li>

                <li><div class="tldate">2014</div></li>


                <li class="timeline-inverted">
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Métier de l'animation</h4>

                        </div>
                        <div class="tl-body">
                            <p>Selon moi , le métier d'animateur rejoint sur beaucoup de points celui de développeur. L'un comme l'autre demandent des qualités telles qu'une bonne gestion du temps , du travail tantôt individuel (donc savoir faire preuve d'autonomie) , et tantôt collectif sur le mode "dynamique de groupe". Cette expérience m'a permis de développer des facultés d'adaptation, d’écoute, de communication .</p>


                        </div>
                    </div>
                </li>



                <li><div class="tldate">2016</div></li>

                <li>
                    <div class="tl-circ"></div>
                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Développeur web</h4>

                        </div>
                        <div class="tl-body">
                            <p>J'ai découvert le monde de la programmation en rentrant en formation à beWeb Lunel. 6 mois de formation intensive, une méthode pédagogique (jamais vue jusqu'ici) basée sur l'apprentissage par la pratique, des échanges permanents entre apprenants et professionnels… Un investissement total en vue d’être le plus acteur possible de la formation m’a permis de développer des compétences en élaboration de projets web , utilisation de framework ainsi qu’en développement front-end, back-end et travail collaboratif.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

{%endblock%} 
