@font-face {
  font-family: "yeti";
  src: url("BananaYeti-ExtraboldTrial.ttf"); }
@font-face {
  font-family: "Basse";
  src: url("Mobile Sans.ttf"); }
  body{
    background-color:#F05924;
  }
  
  /*______________________Header________________________*/
  
  #blockLogo{
      left: 0%;
}
  
#fond1 {
  /**** Page de garde****/
  background-color: #00CA63;
 

  }
  #fond1 div {
    /***Logo***/
    text-align: center;
    }
  #fond1 h1 {
    /***Titre***/
    font-family: "yeti";
    color: #006733;
    font-size: 60px;
    text-align: center;
    margin-top:-1px; }




/*______________________Nav bar___________________________*/
.navbar {
    
     margin-bottom:0px; 
     border: 0px solid transparent; 
     
     
}
.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.69);
    border-color: rgba(8, 8, 8, 0.29);
}
/*______________________Section 1 Qui je suis / Loisir__________________________*/
#Section1 {
  /*******Bloc Section1 Qui je suis *****/
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background-color: #F05924;
  color: white; }
  #Section1 header {
    padding-top: 20px;
    font-family: "yeti";
    font-size: 60px;
    margin-left: 50px; }

.section1P1 {
  margin-left: 50px;
  padding-left: 10px;
  padding-top: 60px;
  display: flex;
  font-family: "Basse";
  font-size: 25px; }

#Section1 + img {
  /******Image Ordinateur*****/
  background: #00CA63;
  }
  
   .thumbnail {
      margin-bottom: 0px;
  }

#loisir {
  margin-left: 45px;
  font-family: "yeti";
  font-size: 25px;
  margin-top: 10%;
  padding-right: 5%;
  padding-bottom: 5%;
  }

#loisir > header {
  font-size: 40px; }

.listeLoisir{
    text-align: center;
}

.contenLoisir {
  display: flex;
  text-align: center;
  margin-bottom: 20%;
}

@media (max-width: 640px) {
  #loisir > article {
    display: none; }

  #loisir {
    background-image: url("../images/loisir_responsive.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    text-align: center;
    margin-left: 0; } }

@media (max-width: 1300px) {
    .image1{
        display: none;
    }
}
    



/*_____________________Section Projet Ok !!!_________________*/
#rowProjet>div>.thumbnail{
box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.25), 0 1rem 4rem rgba(0, 0, 0, 0.5);
}
/*Titre et positionement */
#rowProjet>div>h2{   
    margin-top: 65px;
    margin-bottom:4%;
    text-align: center;
    font-family: "yeti";
    font-size: 60px;
    color: #ffffff ;
}

/* Titre du thumbnail  */
#rowProjet>div>.thumbnail>.caption>h3{
   font-size: 20px;
}
/* Description du thumbnail  */
#rowProjet>div>.thumbnail>.caption>p{
   font-size: 15px;
   font-family: "Basse";
}

  
